<%= render 'admin_nav' %>

<div class="row-fluid">
	<div class="span3">
		<h3>Active Deals</h3>
		<%= render 'shared/deal_list_nav', deals:@deals %>
	</div>
	<div class="span9">	
		<h3>Deal Summary</h3>
		<%= render 'shared/deal_summary', deal:@active_deal %>
		<h3>Purchases</h3>
		<%= render 'shared/purchases_list', purchases:@active_deal.purchases %>
	</div>
</div>

