<%= render 'nav' %>
<%= render 'shared/error_messages', errors:@errors %>
<div class="row-fluid">
	<div class="span6">
		<form class="form-inline" accept-charset="UTF-8" action="/merchants" method="post">
			
			<label class="span12">Name
				<input type="text" placeholder="Name" id="username" name="username">
			</label>

			<label class="span12">Email
				<input type="text" placeholder="Email" id="email" name="email">
			</label>
			
			<label class="span12">Password
				<input type="password" placeholder="Password" id="password" name="password">
			</label>

			<label class="span12">Password Confirmation
				<input type="password" placeholder="Password Confirmation" id="password_confirmation" name="password_confirmation">
			</label>

			<button type="submit" class="offset2 btn btn-large btn-success">Create</button>
		</form>
	</div>
</div>