<%= render 'nav' %>
<%= render 'shared/error_messages', errors:@errors %>
<div class="row-fluid">
	<div class="span6">
		<form class="form-inline" accept-charset="UTF-8" action="/register/merchant" method="post">

			<h3>Merchant Information</h3>
			<label class="span12">Merchant Name
				<input type="text" placeholder="Name" id="name" name="name">
			</label>

			<label class="span12">Website
				<input type="text" placeholder="Website" id="website" name="website">
			</label>
			
			<label class="span12">Facebook
				<input type="text" placeholder="Facebook URL" id="facebook" name="facebook">
			</label>

			<label class="span12">Twitter
				<input type="text" placeholder="Twitter ID" id="twitter" name="twitter">
			</label>
				
			<label class="span12">Support Email Address
				<input type="email" placeholder="Support Email Address" id="support_email" name="support_email">
			</label>

			<input type="hidden" name="user_id" value="<%= @user.id %>"/>
			<button type="submit" class="offset2 btn btn-large btn-success">Create Merchant</button>
		</form>
	</div>
</div>