<h3>Want more great deals form <%= @deal.merchant.name %>? </h3>
<a href="https://twitter.com/<%= @deal.merchant.twitter[1..@deal.merchant.twitter.length] %>" class="twitter-follow-button" data-show-count="false" data-size="small">Follow <%= @deal.merchant.twitter %></a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
</script>
<div class="fb-like" data-href="<%= @deal.merchant.facebook %>" data-send="true" data-layout="button_count" data-width="450" data-show-faces="false"/></div>
<br>