 <% content_for :nav do %>
  	<li>
  		<a href="/merchants/<%= @merchant.merchant_code %>/profile">Profile</a>
  	</li>
   	<li>
    	<a href="/merchants/<%= @merchant.merchant_code %>/deal">Current Deal</a>
  	</li>
  	<li>
    	<a href="/merchants/<%= @merchant.merchant_code %>/history">History</a>
  	</li>
  	<%= render "shared/login_logout" %>
<% end %>