<%= render 'nav' %>
<% if !@merchant.deals.empty? %>
<div class="row-fluid">
	<div class="span3">
		<h3>Deals</h3>
		<%= render 'shared/deal_list_nav', deals:@merchant.deals %>
	</div>
	<div class="span9">
		<h3>Deal Summary</h3>
		<%= render 'shared/deal_summary', deal:@merchant.deals.first %>
		<h3>Purchases</h3>
		<%= render 'shared/purchases_list', purchases:@merchant.deals.first.purchases %>
	</div>
</div>
<% end %>