<%= render 'deal_nav' %>

<div class="row-fluid">
	<div class="span3">
	<%= render 'shared/merchant_badge', merchant: @deal.merchant %>
	</div>
	<div class="span6">
		<%= render "shared/deal_view", deal: @deal %>
	</div>
</div>
