<%= render 'nav' %>
<div class="row">
	<div class="offset2 span8">
		<p style="font-size:50px;text-align:center;"><strong>raving</strong> about <strong>it</strong></p>
		<br>
		<p style="font-size:20px;text-align:center;">Connecting businesses with their raving fans.</p>
	</div>
</div>
<div class="row">
	<div class="offset2 span4" style="border:1px solid;">
		<h3>Businesses</h3>
		<ul>
			<li>Gain new loyal customers by leveraging your raving fans.</li>
			<li>Increase customer loyalty by offering customer referral and loyalty programs.</li>
			<li>Learn which products and services cause your customers to rave about you.</li>
		</ul>
		<a href="merchants/signup" class="btn btn-large btn-success">Signup Free!</a>
	</div>
	<div class="span4" style="border:1px solid;">
		<h3>Raving Fans</h3>
		<ul>
			<li>Rave about your favorite products and services.</li>
			<li>Discover what other products and services people are raving about in your community and social network.</li>
			<li>Earn exclusive discounts from your favorite businesses.</li>
		</ul>
		<a href="/oauth" class="btn btn-large btn-success">Sign Up Free!</a>
	</div>
</div>

