// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.discount-box
{
	text-align:center;
	border: 2px solid;
	border-radius:10px;
	margin-right:15px;
}

form label input
{
	float:right;
	margin-right:30px
}

form label select
{
	float:right;
	margin-right:30px
}